@import './variables';

.PopularSearches,
.Categories {
  li {
    width: 50vw;
    min-width: 280px;
    padding: 15px 0;
    margin: 10px auto;
    @include border(white);
    &:hover {
      color: $mainColor;
    }
  }
}

.link {
  &:hover {
    color: $mainColor;
  }
}
