@import "./variables";
@import "./header";

@mixin gridRepeat($minmax) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minmax, 1fr));
  margin: 0;
}

body {
  color: $textColor;
  font-family: "Baloo Thambi 2", "Roboto Condensed", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border-style: none;
  text-align: center;
  border: 10px solid $mainColor;
  a {
    color: gray;
    text-decoration: none;
  }
}

.search-product-input {
  height: 60px;
  width: 50%;
  border-style: none;
  border-bottom: solid 10px rgb(110, 206, 110);
  font-size: 24px;
  text-align: center;
  font-family: "Baloo Thambi 2", "Roboto Condensed", sans-serif;
  margin-bottom: 80px;
}

.container {
  @include gridRepeat(500px);
  border-top: 1px solid #ebebeb;
}
